<h1>Showing student #<%= @student.id %></h1>
<p>
  First Name: <%= @student.first_name %>
</p>
<p>
  Last Name: <%= @student.last_name %>
</p>
<p>
  Age: <%= @student.age %>
</p>
<p>
  Primary Instrument: <%= @student.primary_instrument %>
</p>
<p>
  Secondary Instrument: <%= @student.secondary_instrument %>
</p>
<p>
  Active?: <%= @student.active %>
</p>